{% extends 'base.html.twig' %}

{% block title %}Thank you for subscribing{% endblock %}

{% block body %}
<center>
<hr>
<h1>Thank you for subscribing</h1>
<hr>
<img width='70%' src='https://www.seekpng.com/png/detail/894-8941432_subscribtion-thanks-thank-you-for-subscribing.png'  >
</center>

{% endblock %}
